<p style="color: green"><%= notice %></p>

<h1><%= t('.title') %></h1>

<div id="rooms">
  <% @rooms.each do |room| %>
    <%= render room %>
    <p>
      <%= link_to t('links.show_room'), room %>
    </p>
  <% end %>
</div>

<%= link_to t('links.new_room'), new_room_path %><br>
<%= link_to t('links.home'), root_path %>
