<% if user_signed_in? %>
  <%= current_user.full_name %>
<% end %>
<p style="color: green"><%= notice %></p>

<h1><%= t('.title') %></h1>

<div id="rooms">
  <% @rooms.each do |room| %>
  <div style= 'margin-bottom: 40px'>
    <%= render room %>
    <p>
      <%= link_to t('links.show_room'), room %>
    </p>
  </div>
  <% end %>
</div>

<%= link_to t('links.new_room'), new_room_path %><br>
<%= link_to t('links.home'), root_path %>
